@model BookViewModel

<div class="row">
    <div class="col-2">@Model.Title</div>
    <div class="col-2">@Model.Author</div>
    <div class="col-2">@Model.Year</div>
    <div class="col-2">@Model.Publisher</div>
    <div class="col-2">@Model.Reference</div>

</div>